@font-face {
    font-family: 'MaisonNeueMono';
    font-style: normal;
    font-weight: normal;
    src: 
        url('../fonts/MaisonNeueWEB-Mono.ttf') format('truetype'),
        url('../fonts/MaisonNeueWEB-Mono.woff') format('woff'); 
}

@font-face {
    font-family: 'MaisonNeueBold';
    font-style: normal;
    font-weight: normal;
    src: 
        url('../fonts/MaisonNeueWEB-Bold.ttf') format('truetype'),
        url('../fonts/MaisonNeueWEB-Bold.woff') format('woff');
}

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */
    font-weight: normal; 
}


body {
    width: 100%;
    margin-top: 230px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #0c0c0c;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    margin-left: 30px;
    position: relative;
}

.container {
    width: 81%;
    margin: 0 auto 0 60px;
}

#header .container {
    width: 100%;
    margin: 0;
}

#header {
    background: rgba(355, 355, 355, 0);
    width: 100%;
    top: 0;
    position: fixed;
}

#header::after {
    content: '';
    display: table;
    clear: both;
}

.faded-text {
    color: rgba(355, 355, 355, 0.42);
    font-family: 'MaisonNeueMono';
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nonfaded-text {
    color: rgba(355, 355, 355, 1.0);
}

#social {
    float: left;
    padding-top:25px;
    padding-bottom: 35px;
}

#nav {
    float: right;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-right: 75px;
}

h1 {
    font-family: 'MaisonNeueBold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    letter-spacing: -0.058rem;
    line-height: 4.8rem;
    color: white;
}

#nav li::before {
    background-color: rgba(355, 355, 355, 0.8);
    content: '';
    display: block;
    height: 1.5px;

    position: absolute;
    width: 0%;
    top: 7px;

    transition: all ease-in-out 250ms;
}

#nav li:hover::before {
    width: 100%;
}

#social li #twitter-link::before {
    background-color: rgb(29, 161, 242);
    content: '';
    display: block;
    height: 1.5px;

    position: absolute;
    width: 0%;
    top: 7px;

    transition: all ease-in-out 250ms;
}

#social li #twitter-link:hover::before {
    width: 100%;
}

#social li #youtube-link::before {
    background-color: #ff0000;
    content: '';
    display: block;
    height: 1.5px;

    position: absolute;
    width: 0%;
    top: 7px;

    transition: all ease-in-out 250ms;
}

#social li #youtube-link:hover::before {
    width: 100%;
}

#social li #instagram-link::before {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    content: '';
    display: block;
    height: 1.5px;

    position: absolute;
    width: 0%;
    top: 7px;

    transition: all ease-in-out 250ms;
}

#social li #instagram-link:hover::before {
    width: 100%;
}

#readfullbio {
    position: relative;
}

#readfullbio::before {
    background-color: rgba(355, 355, 355, 0.8);
    content: '';
    display: block;
    height: 2px;

    position: absolute;
    width: 0%;
    top: 7px;

    transition: all ease-in-out 250ms;
}

#readfullbio:hover::before {
    width: 100%;
}

#pj-title-container {
    background-color: white;
    height: 7em;
    width: 50%;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pj-title-text {
    font-family: 'MaisonNeueBold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    letter-spacing: -0.058rem;
    line-height: 4.8rem;
    color: #0c0c0c;
}

/* FOOTER */

#myfooter {
    background: rgba(355, 355, 355, 0);
    width: 100%;
    height: 3.5em;
    margin-top: 10em;
    bottom: 0;
}

#myfooter .container {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    margin-left: -4.5%;
    position: relative;
}

.footer-text {
    color: rgba(355, 355, 355, 0.15);
    transition: all ease-in-out 250ms;
    margin-left: 5em;
    text-align: center;
    font-family: 'MaisonNeueMono';
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-text:hover {
    color: rgba(355, 355, 355, 0.65);
}

.footer-social-icon {
    color: rgba(355, 355, 355, 0.15);
    transition: all ease-in-out 250ms;
    margin-left: 2.5em;
    font-size: 1.1em;
}

.footer-social-icon:hover {
    color: rgba(355, 355, 355, 0.65);
}

#footer-icons-container {
    margin: auto;
    padding-bottom: 50px;
}

#unimeal_word {
    color: #FCD614;
}

#letsjam_word {
    color: #EE1C25;
}

#micme_word {
    color: #7FBA27;
}

#visualstoryteller_word {
    text-decoration: underline;
}
